@import "webstyle.css";

  @media screen and (max-width:680px) {
    /*set top header width*/
    .container
    {
      margin:10px;
      width: auto;
    }

    /*to fit entire content width onto screen*/
    html {
      width: fit-content;
    };

    /*set the product description width*/

    .product_card_desc
    {
      width: 100%;
    }

    .hm-middle
    {
      width:140%;
    }

    .cart
    {
      margin: 0px;
    }

    .nav>.nav-links
    {
      display: block;
    }

    .logo
    {
      width:100px;
    }

    .navLinks
    {
      float:right;
    }

    ul.navLinks li:not(:first-child) 
    {
        display: none;
    }

    ul.navLinks li.icon {
      float: right;
      display: inline-block;
    }

    ul.navLinks.responsive 
    {
        position: relative;
    }

    ul.navLinks.responsive li.icon 
    {
      position: absolute;
      right: 0;
      top: 0;
    }

    ul.navLinks.responsive li 
    {
      float: none;
      display: inline;
    }

    ul.navLinks.responsive li a 
    {
      display: block;
      text-align: left;
    }

    .nav > .nav-links {
        position:relative;    
    }

    img{
      height: 100%;
      }
  }